*{
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* ctrl+ d defalrca bas replace*/

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body {
  /* background-image: url('./Yeni\ Proje.png') ; */
  background-repeat: no-repeat;
  background-size: cover;
background-color: #5ce1e6 !important;
}

.navbar-custom{
  background-color: black;
  text-decoration: none;
}
.navbar-brand{
  text-decoration: none;
}
.navbar a {
  text-decoration: none;
  margin-right: 30px;
  color: rgb(222, 216, 216) !important;
}

.navbar-nav{
  background-color: black;
  text-decoration: none;
  font-size: 1.6rem;
  margin-right: 200px;
}

.nav-link:hover{
  background-color: #5ce1e6;
  color: rgb(0, 0, 0) !important;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgb(155, 154, 154);
      transition: 0.2;

}
.navbar-dark .navbar-nav .navbar .nav-link {
  color: silver;
}


.custom-toggler.navbar-toggler {
  border-color: rgb(193, 172, 186);
} 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(92, 225, 230,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header{
  color: rgb(105, 21, 108);

}

.first-block{
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 14.5px );
  -webkit-backdrop-filter: blur( 14.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

body::-webkit-scrollbar {
width: 8px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
background: rgb(135, 22, 153);        /* color of the tracking area */
background:linear-gradient(purple,#5ce1e6);    /* color of the scroll thumb */

}

body::-webkit-scrollbar-thumb {
background-color: rgb(231, 229, 229);    /* color of the scroll thumb */
border-radius: 5px;       /* roundness of the scroll thumb */
border: 1px solid #47033952;  /* creates padding around scroll thumb */
}